#
#  Synopsis:
#	Overrideable .bash_login for jmscott interactive bash work environment.
#  Usage:
#	cd $HOME
#	JMSCOTT_ROOT=/usr/local/jmscott
#	cp $JMSCOTT_ROOT/lib/bash_login.example $HOME/.bash_login
#	chmod +w .bash_login 
#
#	#  alternatively, to track changes to bash_login
#
#	cd $HOME
#	ln -s $JMSCOTT_ROOT/lib/bash_login.example $HOME/etc/bash_login
#	echo '. etc/bash_login' >>$HOME/.bash_login
#

export BASH_SILENCE_DEPRECATION_WARNING=1	#  silence macos silliness

PS1="$USER@$(hostname | sed 's/\..*//')> "
unalias -a
set -o vi

export HISTSIZE=10000
export HISTCONTROL=ignoreboth:erasedups

#
#  Source in $HOME/etc/profile, which may preceed/override the
#  following defines
#
test -e etc/profile && . etc/profile

#
#  Monitor mail
#
if [ -d /var/mail -a -z "$MAIL" ];  then
	export MAIL=/var/mail/$USER
fi

test -z "$JMSCOTT_ROOT" -a -d /usr/local/jmscott &&
	export JMSCOTT_ROOT=/usr/local/jmscott

#
#  add postgresql tools, if not setup in $HOME/etc/profile.
#
if [ -z "$PGHOME" -a -d /usr/local/pgsql ];  then
	export PGHOME=/usr/local/pgsql
	export PGHOST=/tmp
	export PGPORT=5432
	export PGUSER=$USER
	export PGDATABASE=$USER
fi

jmscott_prepend_PATH()
{
	for ((i=$#; i>0; i--)); do
		ARG=${!i}
		if [ -d "$ARG" ] && [[ ":$PATH:" != *":$ARG:"* ]]; then
			PATH="$ARG${PATH:+":$PATH"}"
		fi
	done
}

#
#  Add various directories to PATH
#
jmscott_prepend_PATH 							\
	/opt/local/libexec/gnubin					\
	/opt/local/bin							\
	$JMSCOTT_ROOT/bin						\
	$PGHOME/bin							\

#
#  add blobio root tools, if not setup in $HOME/etc/profile
#
if [ -z "$BLOBIO_ROOT" -a -d /usr/local/blobio ];  then
	export BLOBIO_ROOT=/usr/local/blobio
	test -r $BLOBIO_ROOT/bin/etc/profile &&
		. $BLOBIO_ROOT/bin/etc/profile

fi

jmscott_prepend_PATH $BLOBIO_ROOT/bin

#
#  add blobio service, if not setup in $HOME/etc/profile
#
test -z "$BLOBIO_SERVICE" && BLOBIO_SERVICE=bio4:127.0.0.1:1797

jmscott_prepend_PATH . $HOME/bin

test "$USER" = root && jmscott_prepend_PATH /opt/local/sbin

(shopt | grep -wq direxpand ) && shopt -s direxpand
