#
#  Synospsis:
#	Build template for local.mk, required by global Makefile
#  Usage:
#	cp local-linux.mk.example local.mk
#	vi local.mk
#	make world
#  Note:
#	Is GODIST relavent for modern golang?
#

#  Where to install directory jmscott/.  Default is /usr/local/jmscott
#  Value may be overriden by -DINSTALL_PREFIX=...

INSTALL_PREFIX?=/usr/local

#  Typical location for development

#INSTALL_PREFIX?=$(HOME)/opt

# location of go distribution.

GODIST=/usr/local/go

#  compile postgresql dependent code, set JMSCOTT_COMPILE_PG=1;
#  otherwise, JMSCOTT_COMPILE_PG=0;  PG
export JMSCOTT_COMPILE_PG=1
PGINC=/usr/local/pgsql/include
