#
#  Synospsis:
#	Template for local.mk required by global Makefile
#  Usage:
#	cp local-darwin.mk.example local.mk
#	vi local.mk
#	make world
#
INSTALL_PREFIX?=/usr/local
#INSTALL_PREFIX?=$(HOME)/opt
