#
#  Synopsis:
#	Bash sourceable conf file for make-dist to build files in $JMSCOTT_ROOT.
#  See:
#	./Makefile
#	https://github.com/jmscott/work/blob/master/make-dist
#  Note:
#	Rename this file to jmscott-work.dist?
#

#  Uncomment to override default mappings of VARs to target directory
#VAR2dir_local=(
#	[CGIBINs]='cgi-bin/schema'
#)

#
#  Uncomment for compiled programs to be installed in bin/ or sbin/ and
#  removed in "clean" recipes.
#
COMPILEs="
	RFC3339Nano
	duration-english
	duration-mtime
	escape-json-string
	file-stat-size
	flatx
	fork-me
	idiff
	is-dir-empty
	is-utf8wf
	pg_launchd
	slice-file-seek
	stale-mtime
	stat-mtime
	tas-lock-fs
	tas-unlock-fs
	udp4-listen
"

LIBs="
	bash_login.example
	work.dist
"

BINs="
	$COMPILEs
	elapsed-english
	exec-logoff
	isjson
	istext
	overwrite
	pdf-merge
	pg2pg
	pg_dump-Dow
	ridiff
	rsunk
	rsync-fs
	ssh-host
	strip-cr
	strswap
	svn-commit-notify
	svn-ignore
	xtitle
	zap-proc
"

SBINs="
	cron-run-once
	launchctl-kick
	launchctl-load
	launchctl-unload
	launchd-log
	pg_launchd
"

#  Uncomment to create tmp/ directory
#TMP="
#"

#  Uncomment to create cgibin/ directory
#CGIBINs="
#"

#  Uncomment to create htdocs/ directory
#HTDOCSs="
#"

#  create src/ directory
SRCs="
	RFC3339Nano.c
	duration-english.c
	duration-mtime.c
	escape-json-string.c
	file-stat-size.c
	flatx.c
	fork-me.c
	idiff.c
	is-dir-empty.c
	is-utf8wf.c
	istext.c
	pg_launchd.c
	slice-file-seek.c
	stale-mtime.c
	stat-mtime.c
	tas-lock-fs.c
	tas-unlock-fs.c
	udp4-listen.go
"

#  Uncomment to create attic/ directory
#ATTIC="
#"

#  Uncomment to create archive/ directory
#ARCHIVE="
#"

#  Uncomment to create etc/ directory
#ETC="
#"

#  Uncomment to create spool/ directory
#SPOOL="
#"

#  Uncomment to create data/ directory
#DATA="
#"

#  Uncomment to create run/ directory
#RUN="
#"

#  Uncomment to create log/ directory
#LOG="
#"

#  Uncomment to create cache/ directory
#CACHE="
#"

#  Uncomment to create directory libexec/
LIBEXECs="
"
