FURL_NOTIFY_CRITICAL=--notify 2147701797@vtext.com jmscott@setspace.com stan.robinson@americanmessaging.net
FURL_NOTIFY_JMS=--notify 2147701797@vtext.com jmscott@setspace.com
FURL_MAX_TIME=30
FURL_AMS_NOTIFY=--notify john.scott@americanmessaging.net --notify 2147701797@vtext.com --notify terrym@abw.com --notify peter.barnett@americanmessaging.net jmscott@setspace.com

#
#  What:
#	Pull home page from www.skytel.com
#  When:
#	Every 7 minutes, since www.skytel.com still got issues
#
*/7 * * * * $FURL_ROOT/bin/furl --tag www.skytel.com --url http://www.skytel.com $FURL_NOTIFY_CRITICAL >>$FURL_ROOT/log/www.skytel.com.log 2>&1

#
#  What:
#	Clear log file www.skytel.com.log
#  When:
#	Every Sunday at 2:16am
#
16 2 * * Sun echo "$(date): cleared by cron" >$FURL_ROOT/log/www.skytel.com.log 2>&1

#
#  What:
#	Pull home page from www.myairmail.com
#  When:
#	Every five minutes
#
*/5 * * * * $FURL_ROOT/bin/furl --tag www.myairmail.com --url http://www.myairmail.com $FURL_NOTIFY_CRITICAL >>$FURL_ROOT/log/www.myairmail.com.log 2>&1

#
#  What:
#	Clear log file www.myairmail.com.log
#  When:
#	Every Sunday at 2:16am
#
16 2 * * Sun echo "$(date): cleared by cron" >$FURL_ROOT/log/www.myairmail.com.log 2>&1

#
#  What:
#	Pull home page from https://www.skytel.com
#  When:
#	Every 11 minutes, since https://www.skytel.com still got issues
#
*/11 * * * * $FURL_ROOT/bin/furl --tag www.skytel.com-https --url https://www.skytel.com $FURL_NOTIFY_CRITICAL >>$FURL_ROOT/log/www.skytel.com-https.log 2>&1

#
#  What:
#	Clear log file www.skytel.com.log
#  When:
#	Every Sunday at 2:16am
#
16 2 * * Sun echo "$(date): cleared by cron" >$FURL_ROOT/log/www.skytel.com-https.log 2>&1

#
#  What:
#	Pull /wctp page from www.skytel.com
#  When:
#	Every 11 minutes, since http://www.skytel.com/wctp still got issues
#
*/11 * * * * $FURL_ROOT/bin/furl --tag www.skytel.com-wctp --max-time $FURL_MAX_TIME --url http://www.skytel.com/wctp $FURL_NOTIFY_CRITICAL >>$FURL_ROOT/log/www.skytel.com-wctp.log 2>&1

#
#  What:
#	Clear log file www.skytel.com-wctp.log
#  When:
#	Every Sunday at 2:16am
#
16 2 * * Sun echo "$(date): cleared by cron" >$FURL_ROOT/log/www.skytel.com-wctp.log 2>&1

#
#  What:
#	Pull post page from wctp.skytel.com
#  When:
#	Every 13 minutes, since http://wctp.skytel.com still got issues
#
*/13 * * * * $FURL_ROOT/bin/furl  --max-time $FURL_MAX_TIME --tag wctp.skytel.com --url http://wctp.skytel.com/wctp $FURL_NOTIFY_CRITICAL >>$FURL_ROOT/log/wctp.skytel.com.log 2>&1

#
#  What:
#	Clear log file wctp.skytel.com.log
#  When:
#	Every Sunday at 2:16am
#
16 2 * * Sun echo "$(date): cleared by cron" >$FURL_ROOT/log/wctp.skytel.com.log 2>&1

#
#  What:
#	Pull post page from https://wctp.skytel.com/wctp
#  When:
#	Every 7 minutes, since https://wctp.skytel.com still got issues
#
*/7 * * * * $FURL_ROOT/bin/furl --tag wctp.skytel.com-https --url https://wctp.skytel.com/wctp $FURL_NOTIFY_CRITICAL >>$FURL_ROOT/log/wctp.skytel.com-https.log 2>&1

#
#  What:
#	Clear log file wctp.skytel.com-https.log
#  When:
#	Every Sunday at 2:16am
#
16 2 * * Sun echo "$(date): cleared by cron" >$FURL_ROOT/log/wctp.skytel.com-https.log 2>&1

#
#  What:
#	Pull login page from https://www.login.americanmessaging.net
#  When:
#	Every 5 minutes
#
*/5 * * * * $FURL_ROOT/bin/furl --max-time 20 --tag https.login.ams --url https://www.login.americanmessaging.net/ $FURL_AMS_NOTIFY >>$FURL_ROOT/log/https.login.ams.log 2>&1

#
#  What:
#	Clear log file log/www.login.americanmessaging.net.log
#  When:
#	Every Sunday at 2:16am
#
16 2 * * Sun echo "$(date): cleared by cron" >$FURL_ROOT/log/www.login.americanmessaging.net.log 2>&1

#
#  What:
#	Snapshot crontab into etc/crontab.conf
#  When:
#	22 minutes after midnight, every day
#
22 0 * * * crontab -l >etc/crontab.conf
