# Virtual Hosts
#
# Required modules: mod_log_config

# If you want to maintain multiple domains/hostnames on your
# machine you can setup VirtualHost containers for them. Most configurations
# use only name-based virtual hosts so the server doesn't need to worry about
# IP addresses. This is indicated by the asterisks in the directives below.
#
# Please see the documentation at 
# <URL:http://httpd.apache.org/docs/2.4/vhosts/>
# for further details before you try to setup virtual hosts.
#
# You may use the command line option '-S' to verify your virtual host
# configuration.

#
# VirtualHost example:
# Almost any Apache directive may go into a VirtualHost container.
# The first VirtualHost section is used for all requests that do not
# match a ServerName or ServerAlias in any <VirtualHost> block.
#
Define JMSCOTT_WORK_APACHE2_SERVER_NAME work.jmscott.rj2imac
Define JMSCOTT_WORK_VHOST_ROOT /Users/jmscott/opt/vhost/work.jmscott.rj2imac
Define JMSCOTT_WORK_JMSCOTT_ROOT /Users/jmscott/opt/jmscott
Define JMSCOTT_WORK_PERL5LIB /Users/jmscott/opt/jmscott/www/lib
Define JMSCOTT_WORK_PATH /Users/jmscott/opt/jmscott/www/bin

<VirtualHost ${JMSCOTT_WORK_APACHE2_SERVER_NAME}:80>
	SetEnv JMSCOTT_ROOT ${JMSCOTT_WORK_JMSCOTT_ROOT}
	SetEnv PATH ${JMSCOTT_WORK_PATH}
	SetEnv SERVER_ROOT ${JMSCOTT_WORK_VHOST_ROOT}

	DocumentRoot "${JMSCOTT_WORK_VHOST_ROOT}/htdocs"
	ServerName ${JMSCOTT_WORK_APACHE2_SERVER_NAME}
	ErrorLog "var/log/apache2/${JMSCOTT_WORK_APACHE2_SERVER_NAME}.log"
	CustomLog "var/log/apache2/${JMSCOTT_WORK_APACHE2_SERVER_NAME}.log" common

        <Directory "${JMSCOTT_WORK_VHOST_ROOT}">
                Options Indexes FollowSymLinks
                AllowOverride None
                Require all granted
        </Directory>

	<Directory "${JMSCOTT_WORK_VHOST_ROOT}/htdocs">
		Options +ExecCGI +Includes +FollowSymLinks

		AddType text/html .shtml
		AddOutputFilter INCLUDES .shtml
	</Directory>
	ScriptAlias /cgi-bin/jmscott/ "${JMSCOTT_WORK_JMSCOTT_ROOT}/www/cgi-gin"
	ScriptAlias /cgi-bin/ "${JMSCOTT_WORK_VHOST_ROOT}/cgi-bin/"

	<Directory "${JMSCOTT_WORK_VHOST_ROOT}/cgi-bin">
                AllowOverride all
                Allow from all

                Options None +ExecCGI +Includes +FollowSymLinks

        </Directory>

	<Directory "${JMSCOTT_WORK_JMSCOTT_ROOT}/www/cgi-bin">
                AllowOverride all
                Allow from all

                Options None +ExecCGI +Includes +FollowSymLinks
        </Directory>
	DirectoryIndex index.shtml
</VirtualHost>
